[2017-08-29 17:41] ujvl opened #9 "More alert functionality in dialog_server"
* Get alerts by time and trigger name

* Subscribe to alerts

* Active alerts

* Corresponding C++/Python client methods and tests

[2017-08-29 17:41] ujvl opened #10 "Improve storage allocation using pools and file consolidation."
Improve allocation using pools and file consolidation.

[2017-08-29 17:41] ujvl opened #11 "Switch to dynamically sized records"
Currently the record size for a schema is fixed; switch to dynamically sized records.

[2017-08-29 17:42] ujvl opened #12 "More tests for C++ writer client"
The rpc_dialog_writer hasn't had remove_trigger, remove_filter or remove_index tested. Add test cases to the C++ writer client test to cover this functionality.

[2017-08-29 17:42] ujvl opened #13 "Improve documentation"
Improve and add documentation where none exists in several header files, including but not limited to:
* `storage.h`
* `monolog_linear.h`
*  `monolog_exp2.h`
* `dialog_table.h`
* `expression.h`
* `tiered_index.h`

[2017-08-29 17:56] ujvl opened #14 "JSON interface for RPC Client"
Currently the client must read from and write to a table using a contiguous string buffer. Add an interface to the C++ and Python RPC clients to read and write using JSON for easier usability. Validate all fields when a record is written using this interface.

[2017-08-30 19:50] ujvl opened #16 "Separate debugging build"
Create a separate build process for debugging that enables the debug flag and does not enable compiler optimizations.

[2017-08-30 19:50] ujvl opened #17 "Filter using a function"
Allow filters to use a function instead of just an expression. The filter class already accepts a function in the constructor but there's currently no way for an RPC client to specify a function, so the default_filter is always used.

[2017-08-30 19:50] ujvl opened #18 "Support nullable types"
Support nullable types for records that may have missing values.

[2017-08-30 19:51] ujvl opened #19 "Support projections"
Support projections for cases where not all columns are required in the output of a query.

[2017-08-30 23:41] anuragkh opened #20 "Add generic parsing framework"
A generic parsing framework would eliminate code redundancy in parsing:
* Schema
* Filter
* Trigger
* Alert

[2017-08-31 00:19] anuragkh opened #21 "Add tests for persistence recovery"
These tests would check if we can successfully recover a table from an on-disk version of the data.

[2017-08-31 22:01] anuragkh opened #23 "Add configuration files"

[2017-09-06 10:37] #16 closed, assigned to anuragkh

[2017-09-07 01:33] anuragkh opened #28 "Range query bug"
Adhoc filter is creates an empty plan for queries on long fields with no upper bound (e.g., value >= 100). This may potentially extend to other types, have not confirmed.

[2017-09-07 04:55] ujvl opened #29 "Memory pool thread id"
A reader thread freeing memory does not know the id of the writer thread that allocated the pointer in the first place.

[2017-09-08 23:03] ujvl opened #33 "Monolog compatible with mempool design"
The current reflog is a monolog_exp2, which has exponentially growing buckets. This would require a memory pool for each bucket. Instead, the reflog should have exponentially growing bucket containers that have pointers to fixed size buckets. The buckets can then be allocated using a single memory pool.

[2017-09-10 21:28] anuragkh opened #34 "Consistent parameters across Confluo servers and clients"
Some parameters shared between the server and the client (e.g., TIME_RESOLUTION_NS) can become inconsistent if either the server or the client changes them. We need to add a mechanism to ensure consistency for these parameters.

[2017-09-10 22:19] anuragkh opened #35 "Remove double copy in server side record batches"
Currently, there is data is double copied at the server side:
- once while reading it from thrift's serialized format
- once while converting it to dialog's expected format
This can be collapsed into a single copy with ease, and should lead to performance improvements.

[2017-09-11 21:48] anuragkh opened #36 "Move read and write buffering to streaming interface"
Currently the client exposes buffered reads and writes that assume sequential access patterns. These should be moved to a separate streaming interface.

[2017-09-13 19:03] ujvl opened #38 "Add tests for contiguous read/write monolog methods"
The following methods of the monolog implementations need to be tested if they will be used in the future.
[code]

[2017-09-13 19:58] #33 closed, assigned to ujvl

[2017-09-14 20:44] #23 closed, assigned to nobody

[2017-09-15 20:24] ujvl opened #41 "Radix tree node compatibility with mempool"
The way the current `radix_tree_node` is written does not permit for a simple mempool allocation of the entire struct.

[2017-09-15 20:55] ujvl opened #42 "Memory size parser"
Add a parser for memory sizes, e.g, the values provided could be 10k or 100M or 5g, and it would get parsed to the appropriate number of bytes.

[code]

[2017-09-21 00:59] ujvl opened #45 "storage_mode usage"
`storage_mode` is used by both the read tail and data log, so the current `in_memory` mode allocates using a `mempool` only if the size requested matches; otherwise it calls `malloc`. Need a cleaner way to make the allocations.

[2017-09-22 00:25] anuragkh opened #47 "Add trigger time-period as a configurable parameter"
Right now, the time-period for trigger evaluation defaults to whatever the filter granularity is. We should dissociate the two and make sure the monitor thread correctly aggregates required filters at the proper time-period.

[2017-09-27 19:14] ujvl opened #48 "Archival for data, filters and indexes"
Archive data, filters and indexes periodically and when hitting a memory limit.

[2017-09-30 01:30] anuragkh opened #49 "Command line parser parses short options incorrectly"
Command line parser sometimes maps short options to completely unrelated arguments.

[2017-10-02 22:36] anuragkh opened #51 "Trigger evaluation should be agnostic to application timestamps"
Currently, the trigger evaluation framework uses realtime (more precisely, server time) to determine which time-buckets to check for trigger evaluation. This can potentially be an issue if the application supplies the timestamps, and these timestamps have no correlation with server time.

[2017-10-02 22:39] #47 closed, assigned to anuragkh

[2017-10-03 21:03] anuragkh opened #52 "Cleanup Query Planner"
The current query planner has a few issues that need to be resolved:
- Does not work if there are no indexes for a minterm (yields zero results)
- Reduce filter is hard-coded
- Does not handle all operators (e.g., !=)

[2017-10-14 01:11] #20 closed, assigned to anuragkh

[2017-10-14 09:38] #38 closed, assigned to neilgiri

[2017-10-14 09:38] #12 closed, assigned to neilgiri

[2017-10-14 09:38] #13 closed, assigned to neilgiri

[2017-10-20 19:50] neilgiri opened #56 "Add support for user-defined types"

[2017-11-07 21:18] #52 closed, assigned to nobody

[2017-11-08 11:49] ujvl opened #60 "Detect missing Python client build dependencies"
If possible, in the `CMakeLists.txt` check if all of the dependencies for the Python client are installed.

Currently if a Python dependency is missing, it isn't detected and the build fails:
[code]

[2017-11-16 01:40] #56 closed, assigned to neilgiri

[2017-11-18 23:45] #60 closed, assigned to anuragkh

[2017-11-18 23:45] #49 closed, assigned to anuragkh

[2017-11-18 23:46] #28 closed, assigned to anuragkh

[2017-11-22 09:16] #9 closed, assigned to nobody

[2017-11-22 09:17] #36 closed, assigned to neilgiri

[2018-01-17 18:53] #34 closed, assigned to anuragkh

[2018-01-19 22:00] anuragkh opened #75 "Aggregates as double precision values"
Store/compute all aggregates as double precision values rather than the specific types of aggregated attribute. This avoids issues of overflow, etc for smaller types.

[2018-01-22 20:49] ujvl opened #76 "Monitor thread may miss alerts"
Possibly caused by atomic multilog append latency.

[2018-02-17 01:42] ujvl opened #80 "Possible memory leak"
Appending to an atomic multilog even when it has no filters and indexes may have a large memory overhead despite only having to update a single data structure (the data log). Need to profile to discover possible memory leak(s).

[2018-02-20 00:54] ujvl opened #81 "More intelligent mmapping by storage_allocator"
On Linux machines the `vm.max_map_count` limit is hit very quickly (default on an ec2 `c4.8xlarge` instance is 65536). This needs to be manually increased for archival to be successful (since reflogs have relatively small buckets and each bucket is memory mapped).

Instead the storage_allocator could potentially memory map larger-than-requested chunks of files and store the excess of the available

[2018-03-02 17:30] anuragkh opened #84 "Switch to thrift v0.11.0"
This resolves the java bug where it prints "Received n" for every RPC call.

[2018-03-02 17:30] #75 closed, assigned to anuragkh

[2018-03-02 22:41] #84 closed, assigned to nobody

[2018-03-02 22:42] #21 closed, assigned to ujvl

[2018-03-02 22:42] #48 closed, assigned to ujvl

[2018-03-02 22:46] #45 closed, assigned to ujvl

[2018-03-02 23:41] #42 closed, assigned to nobody

[2018-03-02 23:44] #35 closed, assigned to anuragkh

[2018-03-02 23:45] #29 closed, assigned to anuragkh

[2018-03-12 00:27] ujvl opened #86 "Universal sketches, approximate queries"
* Implement count-min-sketch (supposedly more space-efficient than count-sketch)
* Time-adaptive sketch: decay accuracy & storage for older values (using inflation)
* Integrate with atomic multilog for offline/online approximate queries.

  - Figure out what the basic interface should look like
  - Consider:
    - cross-stream correlation queries
    - use-cases where the same stream is partitione

[2018-03-13 23:46] anuragkh opened #89 "Add LZ4 and delta compressors to Confluo Archival framework."

[2018-05-24 23:00] #80 closed, assigned to nobody

[2018-05-24 23:01] #76 closed, assigned to nobody

[2018-05-25 00:46] #89 closed, assigned to neilgiri, ujvl

[2018-05-25 00:46] #41 closed, assigned to nobody

[2018-05-30 18:10] ujvl opened #98 "More thorough testing of compression"
* Need to write more tests to cover edge cases of delta and lz4 encoding/decoding
    * Different array sizes
    * Different data sets (current tests are monotonically increasing elements with constant increments)

[2018-07-24 01:58] ujvl opened #100 "Reflect index/filter removal in persisted metadata"
If a filter or index was invalidated it shouldn't be valid again on recovery/restart.

[2018-08-31 19:00] anuragkh opened #101 "Support for flexible schema"
Currently, Confluo requires a fixed schema for each atomic multilog, which restricts different applications like network monitoring and diagnosis. We want to support flexible schemas (e.g., JSON) to facilitate these applications.

[2018-08-31 20:52] anuragkh opened #102 "Add SQL interface"
Add (potentially modified) SQL interface for supporting queries, adding/removing filters/indexes/triggers, etc.

[2018-10-21 03:28] ujvl opened #106 "Expose Sketch API for multilog"
Expose Sketch API to be able to:
* Add/remove a sketch on a field
* Execute ad-hoc queries on frequencies
* Evaluate approximate triggers in real-time

Expose corresponding remote API.

[2018-12-15 21:55] impredicative opened #110 "Provide User Guide using Python"
The User Guide at https://ucbrise.github.io/confluo/ could use a full Python version. At this time it's completely unclear how to use Confluo from Python.

[2018-12-16 04:05] xiaowuyz opened #111 "i have a problem on install confluo"
Determining if the pthread_create exist failed with the following output:
Change Dir: /root/confluo_test/confluo/build/CMakeFiles/CMakeTmp

Run Build Command:"/usr/bin/gmake" "cmTC_6011a/fast"
/usr/bin/gmake -f CMakeFiles/cmTC_6011a.dir/build.make CMakeFiles/cmTC_6011a.dir/build
gmake[1]: Entering directory `/root/confluo_test/confluo/build/CMakeFiles/CMakeTmp'
Building C object CMakeFiles/cmTC_60

[2018-12-16 04:38] xiaowuyz commented on #111
solved

[2018-12-16 04:40] xiaowuyz commented on #111
new problem:
File /root/confluo_test/confluo/build/CMakeFiles/CMakeTmp/CheckSymbolExists.c:
/* */
#include <pthread.h>

int main(int argc, char** argv)
{
  (void)argv;
#ifndef pthread_create
  return ((int*)(&pthread_create))[argc];
#else
  (void)argc;
  return 0;
#endif
}

Determining if the function pthread_create exists in the pthreads failed with the following output:
Change Dir: /root/confluo

[2018-12-16 04:46] xiaowuyz commented on #111
i already install pthreads
ps -aux | grep pthreads
root     14489  0.0  0.0 112660   972 pts/0    S+   12:36   0:00 grep --color=auto pthreads

[2018-12-17 03:28] anuragkh commented on #110
Thanks for the feedback! I've updated the documentation with Python usage. We're continuously working on improving documentation, and plan to add Java usage as well.

I would we very interested to know what your use-case for Confluo is!

[2018-12-17 03:30] anuragkh commented on #111
Hi, thanks for trying out Confluo. Can I ask the details of your environment? OS, C++ version, cmake version, etc.?

[2018-12-17 03:37] impredicative commented on #110
I am just storing and exploring realtime US stock data for now to make close to realtime predictions. It doesn't mean I have any good predictive model; I don't.

[2018-12-17 03:41] impredicative commented on #110
Please advise when I should refresh https://ucbrise.github.io/confluo/ to also find a Python version of the User Guide. It's currently published in C++ only.

[2018-12-17 05:42] xiaowuyz commented on #111
gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-36)
Copyright (C) 2015 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

cmake version 3.13.2
CMake suite maintained and supported by Kitware (kitware.com/cmake).

CentOS Linux release 7.4.1708 (Core)

[2018-12-17 05:48] xiaowuyz commented on #111
[root@hx3 confluo]# java -version
openjdk version "1.8.0_191"
OpenJDK Runtime Environment (build 1.8.0_191-b12)
OpenJDK 64-Bit Server VM (build 25.191-b12, mixed mode)

[2018-12-17 05:51] xiaowuyz commented on #111
gcc-c++-4.8.5-36.el7.x86_64

[2018-12-17 05:52] xiaowuyz commented on #111
finally error

-- Boost include dir: Boost_INCLUDE_DIR-NOTFOUND
-- GTest include dir: /root/confluo_test/confluo/build/external/gtest/include
-- GTest static library: /root/confluo_test/confluo/build/external/gtest/lib/libgtest.a
-- GTest main static library: /root/confluo_test/confluo/build/external/gtest/lib/libgtest_main.a
-- Jemalloc library: /root/confluo_test/confluo/build/external/jemalloc/

[2018-12-17 07:27] chinlee1523 commented on #111
I have the same problem

[2018-12-17 08:48] anuragkh commented on #110
The updates are in the stand-alone mode, when querying from the python client; for e.g., the [Quick Start](https://ucbrise.github.io/confluo/quick_start/#stand-alone-mode) under the stand-alone subsection now has both C++ and Python code examples. Detailed API docs for the Python Client can be found [here](https://ucbrise.github.io/confluo/python_client_api/).

[2018-12-17 08:52] anuragkh commented on #111
You will need `glibc-devel` and `java-1.8.0-openjdk-devel` packages installed; can you make sure those are present?

[2018-12-17 09:17] anuragkh commented on #111
Also, for Java, make sure `JAVA_HOME` is set. If you wish to build without Java client support, you can do so by running CMake as follows:

[code]

[2018-12-17 10:31] xiaowuyz commented on #111
That problem has been solved

[2018-12-17 10:32] xiaowuyz commented on #111
but  when i make this
have new problem：
[  0%] Creating directories for 'lz4'
[  1%] Performing download step (download, verify and extract) for 'lz4'
-- Downloading...
   dst='/root/confluo_test/confluo/build/lz4-prefix/src/v1.8.2.tar.gz'
   timeout='none'
-- Using src='https://github.com/lz4/lz4/archive/v1.8.2.tar.gz'
-- Retrying...
-- Using src='https://github.com/lz4/lz4/archive/v1.8.2.tar.gz'

[2018-12-17 17:48] impredicative commented on #110
Thanks. Most sections of the User Guide are currently not Python specific. It would help to just have a completely different and comprehensive user guide for Python. Without one, it's not sufficiently encouraging for a Python user to adopt Confluo.

[2018-12-17 18:29] anuragkh commented on #111
How did you install cmake? It seems like cmake wasn’t able to find libssl. You should install the openssl-devel package before installing cmake.

[2018-12-17 19:07] anuragkh commented on #110
Thanks for the feedback. Look for a section on the Python Client interface in the next couple of days.

[2018-12-18 02:13] forging2012 opened #112 "Support Golang client and demo."
Support Golang client and demo.

[2018-12-18 03:25] chinlee1523 commented on #111
hello, how do u solve the problem?thanks!

[2018-12-18 03:57] xiaowuyz commented on #111
i install boost again, then excute cmake -DWITH_JAVA_CLIENT=OFF ../

[2018-12-18 04:32] anuragkh commented on #111
Were you able to resolve the cmake issue?

[2018-12-18 04:34] anuragkh commented on #112
We use thrift as our RPC protocol, so it shouldn't be too difficult to implement it. What is your use-case?

[2018-12-18 05:28] xiaowuyz commented on #111
i can't find this cmake problem

[2018-12-18 05:40] chinlee1523 commented on #111
how do u resolve the issue？

[2018-12-18 06:18] xiaowuyz commented on #111
sorry,I forgot.Seems to be re-install pthreads

[2018-12-18 06:31] xiaowuyz commented on #111
I re-install cmake, but still have that problem

[2018-12-18 06:59] zzeric opened #113 "How to use Confluo as a pubsub system?"
The documents do not mention about these, and there is nothing about subscription in the client API.
How to use Confluo as a pubsub system?

[2018-12-18 14:55] issacKwan opened #114 "i have a problem on complie confluo"
[ 32%] Building CXX object libconfluo/CMakeFiles/confluo.dir/src/confluo_store.cc.o
In file included from /home/root/C++/confluo/libconfluo/confluo/aggregate/aggregate_info.h:7:0,
                 from /home/root/C++/confluo/libconfluo/confluo/aggregated_reflog.h:5,
                 from /home/root/C++/confluo/libconfluo/confluo/filter.h:4,
                 from /home/root/C++/confluo/libconfluo/c

[2018-12-18 18:33] anuragkh commented on #113
Thanks for your interest in Confluo! We're currently working on exposing a fully functional pub-sub API, there are some minor tests still left to be taken care of. You can find a minimal example with pub-sub API in C++ [here](https://github.com/ucbrise/confluo/tree/single-machine/examples/libstreaming/streaming).

[2018-12-18 18:38] anuragkh commented on #114
Can you make sure you have [boost spirit](http://boost-spirit.com/home/) installed? Confluo uses it for its parsing modules. On ubuntu, you can simply run:

[code]

[2018-12-18 18:40] anuragkh commented on #111
How are you installing cmake? If you are installing from source, you can to do the following:

[code]

[2018-12-19 01:29] acruise opened #115 "Clustering/scale-out roadmap?"
Hi there,

I see there's been some activity in a branch called `chain-replication` but it'd be nice to know what you folks have in mind for scale-out architecture. :)

[2018-12-19 02:00] issacKwan commented on #114
yes.
the installed boost packages like that:

boost-date-time-1.53.0-27.el7.x86_64
boost-wave-1.53.0-27.el7.x86_64
boost-devel-1.53.0-27.el7.x86_64
boost-filesystem-1.53.0-27.el7.x86_64
boost-1.53.0-27.el7.x86_64
boost-test-1.53.0-27.el7.x86_64
boost-iostreams-1.53.0-27.el7.x86_64
boost-chrono-1.53.0-27.el7.x86_64
boost-atomic-1.53.0-27.el7.x86_64
boost-context-1.53.0-27.el7.x86_64
boost-timer-1.5

[2018-12-19 02:12] anuragkh commented on #115
Hi! We definitely have a scale-out architecture in our roadmap -- we have a prototype implementation as well. You can take a look at the architecture in our [technical report](https://people.eecs.berkeley.edu/~anuragk/papers/confluo-general.pdf). Sections 3.2 and 4 in particular focus on the scale-out architecture components.

[2018-12-19 02:18] anuragkh commented on #114
Hmm, that's strange. The compilation is working fine on both my Mac and the test ubuntu server.

Would you be able to share the full CMake and make build outputs?

[2018-12-19 02:50] issacKwan commented on #114
CMAKE OUTPUT:

(python3) [root@localhost build]$ !cmake
cmake -DWITH_JAVA_CLIENT=OFF ..
-- The C compiler identification is GNU 4.8.5
-- The CXX compiler identification is GNU 4.8.5
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C

[2018-12-19 06:17] xiaowuyz commented on #111
Follow your way to reinstall the cmake
"Performing download step (download, verify and extract) for 'lz4'" issue is solved
but make on  "[ 32%] Building CXX object libconfluo/CMakeFiles/confluo.dir/src/confluo_store.cc.o"
has an error:
[code]

[2018-12-19 06:18] xiaowuyz commented on #111
error in confluo_store.cc.o

[2018-12-19 07:35] forging2012 commented on #112
Excellent idea! I will try.
Thanks.

[2018-12-19 23:14] anuragkh commented on #114
I was able to reproduce your issue. This is occurring due to the Boost version -- the latest Confluo version uses some Boost features that are unavailable in v1.53. I've update the minimum boost version required to 1.58, both in the documentation and the CMakeFiles. Can you try rebuilding with a more recent boost version (>= 1.58)?

[2018-12-19 23:15] anuragkh commented on #112
Please consider creating a PR if you want to contribute the golang client. Thanks for your interest in Confluo!

[2018-12-19 23:17] anuragkh commented on #111
This issue is occurring due to the Boost version 1.53 (see https://github.com/ucbrise/confluo/issues/114). Can you try rebuilding with a more recent Boost version (>= 1.58)?

[2018-12-20 00:19] qqqshengwei opened #116 "Where to set a maven repo proxy."
Hi， I'm trying to make install confluo. However, the installation has some errors to get maven repo. I have a maven proxy (mirror). Where can I set it in the conflue source?

[2018-12-20 01:15] anuragkh commented on #116
Can you provide a full CMake build log? The build.xml.in file in javaclient/ needs to be modified to update the maven repository. If you are not planning on using the java client, you can also skip building it as follows:

cmake -DWITH_JAVA_CLIENT=OFF ../

[2018-12-20 02:00] xiaowuyz commented on #111
my boost is  boost_1_61_0.tar.gz

[2018-12-20 03:04] #113 closed, assigned to nobody

[2018-12-20 05:23] anuragkh commented on #111
That's strange. I will try to build it on a CentOS platform and try to reproduce the issue tonight, and get back to you.

[2018-12-20 06:10] forging2012 commented on #112
OK!
Nice project!

[2018-12-20 06:38] issacKwan commented on #114
I update boost to v1.69. and recompile the project ,but there is another error:

[ 32%] Built target confluoutils
Scanning dependencies of target confluo
[ 32%] Building CXX object libconfluo/CMakeFiles/confluo.dir/src/confluo_store.cc.o
In file included from /home/root/C++/confluo/libconfluo/../libutils/utils/atomic.h:7:0,
                 from /home/root/C++/confluo/libconfluo/confluo/archival/a

[2018-12-20 06:56] anuragkh commented on #111
I was able to reproduce the issue you've run into on CentOS 7 with g++ 4.8.5. This is a bug in g++ which was resolved in later g++ versions: https://gcc.gnu.org/bugzilla/show_bug.cgi?format=multiple&id=53901. I've tested the build with g++ 5.3.1 and the compilation completes successfully. You can install g++ 5.3.1 on CentOS 7 as follows:

[code]

Let me know if that resolves your issue.

[2018-12-20 07:30] anuragkh commented on #114
This is a bug in g++ which was resolved in later g++ versions: https://gcc.gnu.org/bugzilla/show_bug.cgi?format=multiple&id=53901. You can fix this by updating g++ to 5.3.1 (see #111).

[2018-12-20 07:31] anuragkh commented on #112
Thanks, closing this issue for now.

[2018-12-20 07:31] #112 closed, assigned to nobody

[2018-12-20 10:00] futurekey opened #117 "an error on complie confluo"
i complie confluo occur an error, and i already read other complie error issues, but no one is my problem,  colud you help me? thank you very much.

error message:
In file included from /root/work/confluo/libconfluo/../libutils/utils/atomic.h:7:0,
                 from /root/work/confluo/libconfluo/confluo/archival/archival_utils.h:4,
                 from /root/work/confluo/libconfluo/src/archiva

[2018-12-20 10:37] qqqshengwei commented on #116
Cool. Thank you very much.

[2018-12-20 10:37] #116 closed, assigned to nobody

[2018-12-20 18:12] anuragkh commented on #117
Hi! Thanks for your interest in Confluo!

This should not occur with GCC 5.3.1, I have tested this on a CentOS 7 server. Can you try rebuilding from scratch and provide the full CMake log?

[2018-12-21 02:04] futurekey commented on #117
Hi, Thanks for you help.

the full building logs

Scanning dependencies of target lz4
Scanning dependencies of target thrift
Scanning dependencies of target jemalloc
[  1%] Creating directories for 'lz4'
Scanning dependencies of target confluoutils
[  1%] Creating directories for 'thrift'
[  2%] Creating directories for 'jemalloc'
[  2%] Building CXX object libutils/CMakeFiles/confluoutils.dir/src

[2018-12-21 02:16] xiaowuyz commented on #111
thanks you！

[2018-12-21 02:16] #111 closed, assigned to nobody

[2018-12-21 04:06] anuragkh commented on #117
Sorry I need the CMake configure log as well. Can you delete the build/ directory and build again from scratch, and include the output for the `cmake ../` command too?

[2018-12-21 04:20] anuragkh commented on #117
Also, you seem to be running out of memory:

[code]

Maybe try the build with a single thread instead of multiple threads? (remove the -j flag in the make command)

[2018-12-21 04:52] futurekey commented on #117
Hi, i deleted the build/ directory and build again

`cmake ..` command logs
-- The C compiler identification is GNU 4.8.5
-- The CXX compiler identification is GNU 4.8.5
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile fea

[2018-12-21 05:32] anuragkh commented on #117
The first two lines of your CMake configure output indicate that you are still using gcc/g++ 4.8.5:

[code]

You need to make sure you are using gcc/g++ 5.3. If you have multiple gcc/g++ versions installed, you can explicitly specify the path to the gcc/g++ version you want to use in cmake as follows:

[code]

[2018-12-21 06:22] futurekey commented on #117
Sorry, I have 2 versions gcc/g++, default use the lower one,  and i use specify version then build success.

So, once again, thank you for help.

[2018-12-21 06:30] anuragkh commented on #117
No problem! I’m glad it worked out. Closing the issue..

[2018-12-21 06:30] #117 closed, assigned to nobody

[2018-12-21 06:31] anuragkh commented on #114
Were you able to resolve this @issacKwan?

[2018-12-21 09:46] yasinasama opened #118 "CMake Error when installing confluo"
The first time using confluo.

I am new to c++ and the cmake,so that feeling helpless with below errors when google for nothing.
Some help?

OS:
`CentOS release 6.10 (Final)`

cmake(install by using `yum install -y cmake`):
`cmake version 2.8.12.2`

[code]

[2018-12-23 20:53] anuragkh commented on #118
I was able to reproduce this issue; it is due to the CMake version being too old. I've updated the minimum CMake requirement to 3.2, can you please try rebuilding after upgrading your CMake?

[2018-12-24 02:32] yasinasama commented on #118
@anuragkh thanks for reply.

But i got another error after reinstalling cmake3.2.0.

[code]

[2018-12-24 02:39] anuragkh commented on #118
The error message says

[code]

Are you sure you have permissions to create the directory under /opt/? Maybe try sudo cmake ../ or try building in a location that you have permissions to write?

[2018-12-24 03:58] yasinasama commented on #118
Sorry for that mistake.I forgot to clear build directory(./build).Now It works well.Thanks again @anuragkh !

[2018-12-24 03:58] #118 closed, assigned to nobody

[2018-12-29 03:14] issacKwan commented on #114
I am very sorry, I have been busy in recent days. Replacement of g++ version to 5.3.1 has been resolved, thank you

[2018-12-30 06:56] asherzhou opened #119 "Project not building with gcc 7+"
I had a issues regarding the compilation of compiling this version using GCC 7 +.

[2018-12-30 06:59] asherzhou commented on #119
On the Linux  Using GCC 7.3.1.

[code]
This issue can be solved by adding

`#include <functional>`

into /confluo-single-machine/libconfluo/confluo/threads/periodic_task.h

[2018-12-31 07:03] anuragkh commented on #119
Can you please provide the complete CMake and make logs? I’ll try to reproduce the issue and push a fix.

[2019-01-02 01:25] anuragkh commented on #114
Great! Closing this issue.

[2019-01-02 01:25] #114 closed, assigned to nobody

[2019-01-02 07:20] liuxiaopiao opened #121 "Build failed on centos 7"
I have tried to install confluo on centos 7. And met the build error when doing "make":
`/usr/include/c++/4.8.2/atomic:167:7: error: function ‘std::atomic<_Tp>::atomic() [with _Tp = confluo::storage::encoded_ptr<long unsigned int>]’ defaulted on its first declaration with an exception-specification that differs from the implicit declaration ‘std::atomic<confluo::storage::encoded_ptr<long unsigned

[2019-01-02 07:55] asherzhou commented on #119
OK,  The relevant documents have been sent to your mailbox, I do not know if you want.

[2019-01-02 09:33] anuragkh commented on #121
The CMake log you have provided does not seem to be for a fresh build. Can you delete the build/ directory, and provide the CMake log for a fresh build? Or attach the CMakeCache.txt file? Thanks!

[2019-01-02 09:36] anuragkh commented on #121
Also, the following line:

[code]

Seems to indicate you are using g++ 4.8.2, since the atomic include points to `/usr/include/c++/4.8.2/atomic`.

[2019-01-02 09:38] anuragkh commented on #119
Great, thanks! I was able to reproduce the issue and have pushed a fix which adds the include statement. Can you confirm the the issue does not appear now?

[2019-01-03 10:39] liuxiaopiao commented on #121
Thanks @anuragkh . After using correct version of c++, "make" finished successfully. But "make test" is failed:
[code]

So my questions are:
1. is the step "make test" required?
2. what's the root cause for the "make test" failure?
3.  I have tried to continue to run "make install" although "make test" failed. But couldn't find any command such like "confuod". Is the "make install" log correct? Wh

[2019-01-03 19:43] anuragkh commented on #121
Glad to know the make step succeeded! Here are the responses to your questions:

1. No, the make test step is not required, but it checks if the implementation is correct.
2. To understand why the make test step is failing, I would need to look at more verbose logs for the test. Can you try running:
[code]
and sharing the logs?
3. Yes, the make install step is correct; the log has the following li

[2019-01-03 19:44] anuragkh commented on #119
@asherzhou Were you able to confirm if this works now?

[2019-01-03 21:48] liuxiaopiao commented on #121
Thanks @anuragkh  for the info.  So there maybe one error in page https://ucbrise.github.io/confluo/loading_data/. It said "confuod --address=127.0.0.1 --port=9090" and should be "confluod --address=127.0.0.1 --port=9090"

[2019-01-03 21:52] anuragkh commented on #121
Thanks for pointing out the typo! I have updated the documentation, the website should update soon.

[2019-01-03 21:58] liuxiaopiao commented on #121
Thanks @anuragkh . Will close the ticket.

[2019-01-03 21:58] #121 closed, assigned to nobody

[2019-01-03 22:09] liuxiaopiao opened #122 "ImportError: No module named confluo.rpc.client"
I have run the predefined python script under "confluo/build/pyclient/test/test_rpc_client.py" and met the error "ImportError: No module named confluo.rpc.client".

 I am not familiar with python, could you please help on how to fix this kind of error? Thanks a lot!

[2019-01-03 22:12] anuragkh commented on #122
How are you running the test? The test should only be run via `make test`, otherwise you will run into import issues.

[2019-01-03 22:16] liuxiaopiao commented on #122
I run it directly. Or the question could be that: if we want to create one python client to load/query data from the daemon,  I copied the code and saved in "test.py" following https://ucbrise.github.io/confluo/quick_start/  like below:
[code]

And then run "python test.py" and then also met the error "ImportError: No module named confluo.rpc.client". Is there any way we can run the python client

[2019-01-03 22:21] anuragkh commented on #122
I see. I am assuming you already ran make install.

Can you tell me your output for `python -c "import confluo"`?

[2019-01-04 00:24] liuxiaopiao commented on #122
yeah. I have run make install successfully.
And the output for the command is:
[opc@testmq ~]$ python -c "import confluo"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
ImportError: No module named confluo

[2019-01-04 00:45] anuragkh commented on #122
This is strange; from your install logs in #121
[code]

It seems like Confluo is installed in `/usr/lib/python2.7/site-packages/` (please confirm `confluo-0.1.0-py2.7.egg` exists). Are you using a different python version?

[2019-01-04 00:55] liuxiaopiao commented on #122
The file is existed.
[opc@testmq ~]$ ls -ltr /usr/lib/python2.7/site-packages/confluo*
-rw-r--r--. 1 root root 96088 Jan  3 10:35 /usr/lib/python2.7/site-packages/confluo-0.1.0-py2.7.egg
[opc@testmq ~]$ python --version
Python 2.7.5
[opc@testmq ~]$ which python
/usr/bin/python

[2019-01-04 02:04] anuragkh commented on #122
Can you make sure the output of `python -c "import sys; print(sys.path)"` contains `/usr/lib/python2.7/site-packages/`?

[2019-01-04 02:08] liuxiaopiao commented on #122
yeah. It has :
[opc@testmq ~]$ python -c "import sys; print(sys.path)"
['', '/usr/lib/python2.7/site-packages/confluo-0.1.0-py2.7.egg', '/home/opc/confluo/build/pyclient/.eggs/thrift-0.11.0-py2.7.egg', '/usr/lib64/python27.zip', '/usr/lib64/python2.7', '/usr/lib64/python2.7/plat-linux2', '/usr/lib64/python2.7/lib-tk', '/usr/lib64/python2.7/lib-old', '/usr/lib64/python2.7/lib-dynload', '/usr/lib64/

[2019-01-04 02:14] anuragkh commented on #122
Strange. Can you add execute permissions, and change ownership of the egg file to your current user (`opc` instead of `root`)?

If that doesn't work, try installing using pip:

[code]
where `build` is the Confluo build directory.

[2019-01-04 02:26] liuxiaopiao commented on #122
After adding execution permission for confluo-0.1.0-py2.7.egg, I can only run python client under /home/opc/confluo/build/pyclient. in other folders, if I run the python client, it will report similar error such like "No module named confluo.rpc.client"
[code]

[2019-01-04 02:31] anuragkh commented on #122
Did you try changing ownership:

[code]

Also, did you try running `pip install -e . --user --verbose` under `/home/opc/confluo/build/pyclient`?

[2019-01-04 02:36] liuxiaopiao commented on #122
I run the pip install:
[code]

[2019-01-04 02:45] liuxiaopiao commented on #122
Oh i should add sudo before the command. now it works
[code]

[2019-01-04 23:08] liuxiaopiao commented on #122
Close the ticket and thanks @anuragkh  a lot

[2019-01-04 23:08] #122 closed, assigned to nobody

[2019-01-04 23:11] liuxiaopiao opened #123 "[FEATURE] can confluo provide one detailed testing example that we can compare with Kafka"
We are interesting at the performance of Confluo especially the comparison with Kafka.
Can confluo provide detailed test example to help user better understanding of that so we can make better use of confluo.

Or
1.  is there any suggestion for the comparison testing with Kafka?
2. doese confluo support HA?
Thanks a lot!

[2019-01-07 02:19] anuragkh commented on #123
Thanks for your interest @liuxiaopiao! An example similar to Kafka-like functionality can be found [here](https://github.com/ucbrise/confluo/tree/single-machine/examples/libstreaming/streaming). This issue relatively simplistic -- our benchmarks used a slightly more involved implementation (including a pub-sub API) that hasn't made it into master yet.

Can you elaborate on what your use-case is? A

[2019-01-10 12:58] rudy2steiner opened #125 "[BUG] too many connections"
### Describe the bug
I try to do a benchmark test on confluo as a pub/sub system, and have default conf.
100 proudcer and enough Memory(more than 100G), with a single partition, duration 5min
but server crashed  after two minutes and notice two strange things as follow:
1. ERROR: signal 11 and following with ERROR: Could not start server listening on 0.0.0.0:60088: pthread_create failed

ERROR: si

[2019-01-10 13:02] rudy2steiner commented on #123
acutally i'm intresed  in this  job and but have met some problem
https://github.com/ucbrise/confluo/issues/125 help me

[2019-01-10 22:07] anuragkh commented on #125
Hi @rudy2steiner. Thanks for your interest in Confluo!

Can you provide more concrete steps to reproduce the bug? E.g., what were the exact steps you took to run Confluo, and your client program to trigger the issue you have outlined above?

[2019-01-11 02:14] rudy2steiner commented on #125
sure, i will provide concrete steps to reproduce the bug @anuragkh

[2019-01-15 03:06] anuragkh commented on #125
@rudy2steiner Checking back on this.

[2019-01-15 03:07] anuragkh commented on #119
@asherzhou Checking back on this.

[2019-01-16 00:35] rudy2steiner commented on #125
ok ,i will finish this in next few day

[2019-01-17 14:51] rudy2steiner commented on #125
too many connections is not a bug, but caused by incorrect test.
in recent weeks, i try to reproduce the experiment, which mentioned in https://ucbrise.github.io/confluo/pub_sub/ , confluo as a in memory pub/sub system.
 a java version client ,include ConfluoProducer(https://github.com/rudy2steiner/confluo/blob/benchmark/javaclient/src/main/java/confluo/streaming/ConfluoProducer.java) and Consumer

[2019-01-17 15:44] rudy2steiner commented on #125
@anuragkh hi there

[2019-01-17 15:47] rudy2steiner commented on #123
i provide a simple implement in java
https://github.com/rudy2steiner/confluo/blob/benchmark/javaclient/src/main/java/confluo/streaming/ConfluoProducer.java

[2019-01-18 12:01] zr-hebo opened #128 "make test failed"
### What OS are you using?
CentOS Linux release 7.5.1804 (Core)

### What compiler are you using? What version?
g++ (GCC) 5.3.1 20160406 (Red Hat 5.3.1-6),
openjdk version "1.8.0_171",
Python 2.7.5

### What's your CMake arguments?
cmake ..

### What is the output of the CMake and make commands on a fresh build? (Please sanitize any sensitive information)
[code]
#### make cmd
make -j2 && make test

[2019-01-19 05:34] anuragkh commented on #128
Can you provide more verbose outputs for your tests using:

[code]

[2019-01-19 05:37] anuragkh commented on #125
Hey @rudy2steiner, thanks for sharing your findings. I suspect you will be able to achieve higher qps using batching.

Would you be interested in adding in your implementation for the Producer/Consumer to Confluo by submitting a PR? You would need to clean up the implementation and add documentation, but I would be happy to review your code if you submit a PR.

[2019-01-19 15:33] rudy2steiner commented on #125
it's my pleasure to submit a PR,i will try

[2019-01-21 02:40] zr-hebo commented on #128
There is too much output, I just paste the error info.
[code]

[code]

[2019-01-21 02:44] anuragkh commented on #128
It seems like there is already a `confluod` process running in the background, which is why the tests are failing. Can you try running
[code]
to check if there are any running confluod instances, and if so, kill them? I suspect the tests will pass then.

[2019-01-21 04:57] zr-hebo commented on #128
![screenshot from 2019-01-21 12-55-16](https://user-images.githubusercontent.com/26314914/51453723-0e06fd00-1d7c-11e9-9029-fdf734190500.png)

[2019-01-21 22:34] anuragkh commented on #128
This is unexpected. I will try and reproduce this on a similar deployment and get back to you.

[2019-01-21 22:38] anuragkh commented on #128
In the log trace you pasted, I can see messages of the type:

[code]
This means either another confluod process, or some other process is using the port 9090; I would still confirm this once, and run the tests with that particular port free.

[2019-01-22 05:55] ujvl opened #131 "Inline user documentation in the README"
I think we should add select high-level API documentation / example usage to the main `README.md` directly to reduce the number of clicks (currently 2) for new users who are interested in what the system looks like.

[2019-01-24 20:41] elfring opened #132 "Remove unnecessary null pointer checks"
[An extra null pointer check is not needed in functions](https://isocpp.org/wiki/faq/freestore-mgmt#delete-handles-null "Do I need to check for null before delete p?") like the following.
* [byte_string](https://github.com/ucbrise/confluo/blob/5d813245952b2fbd7b103a1ca70e5869d92d1498/libconfluo/src/types/byte_string.cc#L96 "Destructor for byte_string")
* [delta_encoded_array](https://github.com/uc

[2019-01-24 20:43] anuragkh commented on #132
Thanks for pointing this out! Would you be willing to submit a PR?

[2019-01-29 22:03] anuragkh commented on #128
Sorry for the delay; I think some of the potential issues have been addressed in https://github.com/ucbrise/confluo/pull/136. Please let me know if this resolves your `make test`!

[2019-01-29 23:40] anuragkh commented on #119
Closing this due to inactivity. Please re-open if the problem persists.

[2019-01-29 23:40] #119 closed, assigned to nobody

[2019-01-29 23:42] anuragkh commented on #125
Hi @rudy2steiner, things should improve with https://github.com/ucbrise/confluo/pull/136. Let me know if you are able to confirm this!

[2019-02-02 23:52] anuragkh commented on #128
@zr-hebo Can you confirm if this fixes your issue?

[2019-02-02 23:58] anuragkh commented on #131
Resolved in #138

[2019-02-02 23:58] #131 closed, assigned to anuragkh

[2019-02-03 00:21] anuragkh commented on #98
Resolved in #107

[2019-02-03 00:21] #98 closed, assigned to attaluris

[2019-02-12 01:04] zr-hebo commented on #128
@anuragkh I am so sorry, I had been in Chinese Spring Festival these days.
I pull the latest code and make test again, all passed. Thanks!

[2019-02-12 01:04] #128 closed, assigned to nobody

[2019-04-18 10:03] louishust opened #143 "[BUILD] Compile error with CMAKE_BUILD_TYPE=DEBUG"
### What OS are you using?
max os 10.12.6
### What compiler are you using? What version?
(Provide details regarding the type and version of your C/C++ compiler, Java compiler (only for Java client build issues) and Python interpreter (only for Python client build issues).)

[code]

### What's your CMake arguments?
(Provide details regarding the CMake arguments used for Confluo's build.)

[code]

#

[2019-04-26 03:32] jjproe commented on #122
I installed and tested confluo a few days ago, and run in the same problem: error on importing confluo..
The solution described above, has not working for me.

I changed _packages_ in **setup.py** -> from packages=['confluo.rpc'] to packages=['confluo', 'confluo.rpc']
Execute python setup.py bdist_egg and copy this to my /usr/local/lib/python2.7/dist-packages...
Now python always found him...
Gree

[2019-05-07 06:35] charles-typ opened #145 "-"
-

[2019-05-07 06:36] #145 closed, assigned to nobody

[2019-05-09 06:15] anuragkh commented on #143
Fixed in https://github.com/ucbrise/confluo/pull/144

[2019-05-09 06:15] #143 closed, assigned to nobody

[2019-05-28 04:39] daversun opened #146 "Cant' load data from disk, could you give me a example of loading data from disk in embedded mode"
### Describe the bug
I use load_atomic_multilog interface which makes segement error

### How to reproduce the bug?
In Embedded mode, I firstly create  multilog and run my code  then I kill this task using ctrl + c.
Finally I use the API I said above to read data from disk.

### Expected behavior
Show be load multilog from disk

### Detailed logs
I track the error, I find that the error caused by

[2019-05-29 20:07] anuragkh commented on #146
Hi, thanks for trying out Confluo!

In order to understand your issue, I would need more context. Can you provide:
* a link to your code/a code snippet to produce the error
* error logs
* a gdb trace for the segmentation fault

Thanks,
Anurag

[2019-05-30 08:55] daversun commented on #146
Thanks for your reply !
     https://paste.ubuntu.com/p/YDrCB8C263/   CMakeLists.txt file
     https://paste.ubuntu.com/p/S5D53TsYpk/    test_main.cc
you can change test_main.cc in confluo/examples/libstreaming/test and  CMakeLists.txt in confluo/examples/libstreaming to the file I provide you, which can reproduce the problem by running the hello file in confluo/build/bin

[CMakeLists.txt](https:/

[2019-06-13 06:50] daversun commented on #146
it's my mistake ?

[2019-06-13 13:56] anuragkh commented on #146
Sorry I missed your reply -- I will test it out tonight. Can you please provide the output of the cmake command (e.g., `cmake ../`) and the make command?

[2019-06-18 19:51] ujvl commented on #146
Hey @daversun thanks for reporting the bug—it should have been fixed in the latest commit. Can you pull from master and try again to see if things work now?

[2019-06-18 19:59] anuragkh commented on #125
Closing this due to lack of activity. #136 improves how Confluo handles multiple client connections, and should remove this issue.

[2019-06-18 19:59] #125 closed, assigned to nobody

[2019-06-27 05:54] ujvl commented on #146
Closing due to inactivity

[2019-06-27 05:54] #146 closed, assigned to ujvl

[2019-10-08 21:19] haal opened #148 "[BUG] Expose load_atomic_multilog through rpc"
### Describe the bug
`confluo_store::load_atomic_multilog` is not defined in thrift `rpc_service`

### How to reproduce the bug?
`confluo.rpc.RpcClient` in java is missing method for loading multilog (I assume same is missing for other languages)

### Expected behavior
It is possible to load multilog from java/other rpc client e.g using `RpcClient.loadAtomicMultilog`

[2019-10-09 16:12] anuragkh commented on #148
Thanks for the issue; adding support for this in https://github.com/ucbrise/confluo/pull/149.

[2019-10-23 16:42] haal commented on #148
I am not sure that loading multilog is working as expected (using latest commit c493592).

Here is the test case:
1. start confluo using data path (e.g. `--data-path=/var/db`)
2. create multilog using java rpc client
[code]
3. write 1 item to it
[code]
4. stop the confluo server
5. start conflo server using same data path as in step 1
6. loading and trying to get count of items throws exception on

[2019-10-30 23:33] anuragkh commented on #148
Sorry I was traveling last week. Will take a look this week.
@ujvl

[2019-11-05 02:30] anuragkh commented on #148
Thanks for the report @haal. We've isolated the issue: Confluo's current archival protocol seems to archive at monolog bucket granularity (64MB), so data less than 64MB seems to get lost. We're working on resolving the bug.

[2019-12-10 12:35] ujvl opened #151 "Garbage collect persisted data log post-archival"
GC data log buckets after archiving them for durable and durable relaxed modes so that we're not using 2x the disk space.

[2019-12-12 08:53] daversun opened #152 "Performance test"
Dear professor
                         I have pasted the code I write for testing performace such as ops and throughput。I test the ops about 223566 packet per second。 The packet size is about 100 bytes. I want to seek your help for testing the performance.

                                                                                                                                         Than

[2019-12-12 08:54] daversun commented on #152
this is my code : https://paste.ubuntu.com/p/4QHSfkm8Pf/

[2019-12-18 00:29] anuragkh commented on #148
Resolved in https://github.com/ucbrise/confluo/pull/150. Please let me know if this resolves the issue.

[2020-01-12 19:05] haal commented on #148
Finally I was able to get some time and verify that initial issue is resolved.

During testing it seems I discovered a new bug and it is related to loading multilog multiple times.

The test case is:
1. start confluo using data path (e.g. --data-path=/var/db)
2. create multilog and write to it
[code]
3. stop the confluo server
4. start confluo server using same data path as in step 1
5. check coun

[2020-01-12 19:07] anuragkh commented on #148
Let's open a separate issue. We will take a look at this ASAP.

[2020-01-12 19:09] haal commented on #148
Closing this issue as resolved and will open a new issue related to loading multilog multiple times.

[2020-01-12 19:09] #148 closed, assigned to nobody

[2020-01-12 19:14] haal opened #153 "[BUG] Loading multilog fails after multiple restarts"
### Describe the bug
Loading multilog after multiple restarts fails.

### How to reproduce the bug?
The test case is:

1. start confluo using data path (e.g. --data-path=/var/db)
2. create multilog and write to it
[code]
3. stop the confluo server
4. start confluo server using same data path as in step 1
5. check count of items - outputs 1
[code]
6. stop the confluo server
7. start confluo server